<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Minecraft Helper</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col h-screen mt-5 items-center bg-neutral-900 text-white">
    <p class="font-bold text-red-600">Oh, no!</p>
    <p>You have encountered an error.</p>

    <img class="mt-5 h-[30rem]" src="https://cdn.fascinated.cc/Ft2OVY.gif" alt="Error Gif"/>
</body>
</html>