<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Minecraft Utilities - Wrapper for the Minecraft APIs</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="keywords" content="Minecraft, APIs, wrapper, utility, development" />

    <!--  Discord Meta Tags  -->
    <meta name="description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta name="theme-color" content="#3498DB" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Minecraft Utilities - Wrapper for the Minecraft APIs" />
    <meta property="og:description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta property="og:type" content="website" />
    <meta property="og:url" th:content="${public_url}" />
    <meta property="og:image" content="https://git.fascinated.cc/MinecraftUtilities/Assets/raw/branch/master/logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" th:content="${public_url}" />
    <meta property="twitter:title" content="Minecraft Utilities - Wrapper for the Minecraft APIs" />
    <meta property="twitter:description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta property="twitter:image" content="https://git.fascinated.cc/MinecraftUtilities/Assets/raw/branch/master/logo.png" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col h-screen mt-5 items-center bg-neutral-900 text-white text-center">
    <p class="font-bold">Minecraft Utilities - Hello!</p>
    <p>Minecraft Utilities provide a convenient wrapper for the Minecraft APIs, simplifying their usage for developers.</p>
    <a class="text-blue-600" target="”_blank”" href="https://git.fascinated.cc/MinecraftUtilities/Backend">Source Code</a>
    <a class="text-blue-600" target="”_blank”" th:href="${swagger_url}">Documentation / Swagger</a>

    <!-- Examples Table -->
    <table class="table-fixed text-left mt-3">
      <thead>
        <tr>
          <th>Example</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Player Data</td>
          <td th:text="${player_example_url}">???</td>
        </tr>
        <tr>
          <td>Server Data</td>
          <td th:text="${java_server_example_url}">???</td>
        </tr>
        <tr>
          <td>Mojang Endpoint Status</td>
          <td th:text="${mojang_endpoint_status_url}">???</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
