<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Minecraft Utilities - Wrapper for the Minecraft APIs</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="icon" type="image/icon" href="/favicon.ico" />

    <meta name="keywords" content="Minecraft, APIs, wrapper, utility, development" />

    <!--  Discord Meta Tags  -->
    <meta name="description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta name="theme-color" content="#3498DB" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Minecraft Utilities - Wrapper for the Minecraft APIs" />
    <meta property="og:description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta property="og:type" content="website" />
    <meta property="og:url" th:content="${public_url}" />
    <meta property="og:image" content="https://git.fascinated.cc/MinecraftUtilities/Assets/raw/branch/master/logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" th:content="${public_url}" />
    <meta property="twitter:title" content="Minecraft Utilities - Wrapper for the Minecraft APIs" />
    <meta property="twitter:description" content="Minecraft Utilities provides a convenient wrapper for the Minecraft APIs, simplifying their usage for developers." />
    <meta property="twitter:image" content="https://git.fascinated.cc/MinecraftUtilities/Assets/raw/branch/master/logo.png" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col h-screen mt-5 items-center bg-neutral-900 text-white text-center">
    <h1 class="font-bold">Minecraft Utilities - Hello!</h1>
    <p>Minecraft Utilities provide a convenient wrapper for the Minecraft APIs, simplifying their usage for developers.</p>
    <a class="text-blue-400" target="”_blank”" href="https://git.fascinated.cc/MinecraftUtilities/Backend">Source Code</a>
    <a class="text-blue-400" target="”_blank”" th:href="${swagger_url}">Documentation / Swagger</a>

    <!-- Examples Table -->
    <table class="table-fixed text-left mt-3 border-separate border-spacing-x-8">
      <thead>
        <tr>
          <th>Example</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Player Data</td>
          <td><a class="text-blue-400" th:text="${player_example_url}" th:href="${player_example_url}">???</a></td>
        </tr>
        <tr>
          <td>Server Data (Java)</td>
          <td><a class="text-blue-400" th:text="${java_server_example_url}" th:href="${java_server_example_url}">???</a></td>
        </tr>
        <tr>
          <td>Server Data (Bedrock)</td>
          <td><a class="text-blue-400" th:text="${bedrock_server_example_url}" th:href="${bedrock_server_example_url}">???</a></td>
        </tr>
        <tr>
          <td>Mojang Endpoint Status</td>
          <td><a class="text-blue-400" th:text="${mojang_endpoint_status_url}" th:href="${mojang_endpoint_status_url}">???</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
